{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page-title %}
  <title>{% blocktranslate with puzzle_name=puzzle.name %}Check: {{ puzzle_name }}{% endblocktranslate %}</title>
{% endblock %}

{% block top-left-actions %}
  <a href="{% url 'puzzle' puzzle.slug %}" class="btn">{% translate "Back to the puzzle" %}</a>
{% endblock %}

{% block content %}

  <h1>
    {% blocktranslate with puzzle_name=puzzle.name %}Check: {{ puzzle_name }}{% endblocktranslate %}
    {% if is_correct %}
      <div class="solved-title-marker">{% translate "Solved!" %} <span class="solved-title-answer">{{ puzzle.answer }}</span></div>
    {% elif is_wrong %}
      <div class="solved-title-marker">{% translate "Incorrect!" %}</div>
    {% endif %}
  </h1>
  
  <style>
    .solved-panel--correct b {
      color: #4a2;
    }
  </style>

  <main>
    <form id="post-hunt-answer-panel">
      {% for field in form %}
        <div class="form-row">
          <div class="form-desc">
            {{ field.label_tag }}
          </div>
          {{ field }}
          {{ field.errors }}
          <a class="delete-row" href="#">&#x2794;</a>
        </div>
      {% endfor %}
    </form>
  </main>

  <script>
    $('.delete-row').click(function(e) {
      e.preventDefault();
      this.closest('form').requestSubmit();
    });
  </script>
  {{ answerB64Encoded|json_script:"answerB64Encoded" }}
  {{ partialMessagesB64Encoded|json_script:"partialMessagesB64Encoded" }}
  <script>
    {% if puzzle.slug == "box-offer" %}
      const manifest_url = "{% static 'puzzle_resources/box-offer/shipping-manifest.pdf' %}";
    {% endif %}

    const answerB64Encoded = JSON.parse(document.getElementById("answerB64Encoded").textContent);
    const partialMessagesB64Encoded = JSON.parse(document.getElementById("partialMessagesB64Encoded").textContent);

    function normalize_answer(s) {
      return s ? s.toUpperCase().replace(/[^A-Z]/g, '') : '';
    }

    function seminormalize_answer(s) {
      return s ? s.toUpperCase().replace(/[^A-Z0-9]/g, '') : '';
    }

    $("#post-hunt-answer-panel").submit(function(e) {
      if (document.contains(document.getElementById('solved-panel'))) {
        document.getElementById("solved-panel").remove();
      }


      let guess = $("#id_answer")[0].value;
      let guessB64Encoded = btoa(String.fromCharCode(...new TextEncoder().encode(normalize_answer(guess))));
      const isCorrect = guessB64Encoded === answerB64Encoded;
      
      guessB64Encoded = btoa(String.fromCharCode(...new TextEncoder().encode(seminormalize_answer(guess))));
      let response = isCorrect ? 'Correct!' : 'Incorrect';

      if (partialMessagesB64Encoded) {
        for (let [pgB64Encoded, prB64Encoded] of partialMessagesB64Encoded) {
          if (guessB64Encoded === pgB64Encoded) {
            response = atob(prB64Encoded);
          }
        }
      }

      let node = document.createElement("div");
      node.setAttribute("id", "solved-panel");
      node.classList.add("solved-panel");
      if (isCorrect) {
        node.innerHTML = "<p>Solved!</p>\n<p>The answer was <b>" + normalize_answer(guess) + "</b>.</p>";
        node.classList.add("solved-panel--correct");
      } else if (response != "Incorrect") {
        node.innerHTML = "<p>" + response + "</p>"
        node.classList.add("solved-panel--message");
        {% if puzzle.slug == "box-offer" %}
          if (response.includes("manifest")) {
            node.innerHTML += `<p><a href="{% static 'puzzle_resources/box-offer/shipping-manifest.pdf' %}">SHIPPING MANIFEST</a></p>`;
          }
      {% endif %}
      } else {
        node.classList.add("solved-panel--incorrect");
        node.innerHTML = "<p>Incorrect!</p>";
      }

      event.preventDefault();
      let form = document.getElementById("post-hunt-answer-panel");
      form.parentNode.insertBefore(node, form);
      return false;
    });
  </script>

{% endblock %}
