{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load puzzle_tags %}

{% block content %}
  <style>
    img {
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 640px) {
      img {
        max-width: calc(min(100%, 63rem));
      }
    }
  </style>

  <main style="text-align: center; margin-top: 1rem;">
    <h3>
      {% blocktranslate with title=hunt_title %}Congratulations on completing the {{ title }}!<br>{% endblocktranslate %}
    </h3>

    <img src="{% static 'images/fire_vibin.png' %}"/>

    <p>
      Thanks for puzzling! If you haven't yet, be sure to check out the standalone puzzles.<br/>
      <br/>

      Additionally, please fill out our <a href="https://docs.google.com/forms/d/e/1FAIpQLSdFUT-De7-9mfWKJUYhUtVskodPAi2SXLgWSHzoAQgOc88N7g/viewform">feedback survey</a> and let us know what you thought!
    </p>

  </main>
{% endblock %}
