{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-html %}

  <style>
    .a-few-tips {
      margin: 0 auto;
    }

    .a-few-tips > :not([hidden]) ~ :not([hidden]) {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    img {
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: 640px) {
      img {
        max-width: calc(min(100%, 63rem));
      }
    }
  </style>

  <p class="flavor">
    Looking up the right tool for the job can sometimes leave you in the dark, so we’ve put together some handy pointers on how to chart them out!
    Just line things up and we’ll show you what you need!
  </p>

  <div class="info-note no-copy">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" data-tooltip-id="" data-tooltip-content="info-tooltip" class="info-tooltip"><path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
    <span>Image captions available in copy-to-clipboard.</span>
  </div>

  <div class="a-few-tips">
    <img
      src="{% static 'puzzle_resources/a-few-tips/1.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: You can figure out the angle between two distant things using a certain tool. It even works at sea!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/2.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: If you have space in your living room, you can use a certain tool not only to tell the time, but also to make your living room look nice!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/3.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: If you're at sea and don't have the first tool, you can use another tool that has a smaller arc and is older in design, though it may not be as accurate!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/4.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: You can use a certain tool to see things that are too small to see without help!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/5.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: You can use a certain tool to see things that are far away!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/6.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: You can figure out the weight of something by using a certain tool to compare it to the weight of something you already know the weight of!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/7.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: If you ever get lost, you can use a certain tool that has a piece of metal in it that will point towards the top of the Earth!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/8.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: You can use a certain tool part as a pattern to help measure something you've set your sights on. At least two other tools mentioned earlier have this part in them!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/9.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: You can use a certain tool to shape different materials such as wood or stone!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/10.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: You can use a certain tool to make drawing circles by hand much easier!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/11.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: You can use a certain tool to heat other things by filling the bottom of it with charcoal and lighting the charcoal on fire!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/12.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: You can use a certain tool to hold a painting up while you work on it, making it easier to draw or paint!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/13.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: You can use a certain tool to push air into something else without having to use your own breath!</span>
    <br class="copy-only">
    <br class="copy-only">
    <img
      src="{% static 'puzzle_resources/a-few-tips/14.png' %}"
      alt=""
    />
    <span class="copy-only">Tip: People who build things out of wood can use a certain tool to measure 90 degree angles!</span>
  </div>

  <button class="btn clipboard-button" data-skip-inline-styles="true"></button>

{% endblock %}