{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-html %}

  <style>
    table {
      margin-left: auto;
      margin-right: auto;
    }
    table td {
      background-color: #c00000;
      padding: 1rem !important;
      color: white;
      text-align: center;
    }
  </style>

  <p class="flavor" data-skip-inline-styles="true">A close shave? Read all road signs.</p>

  <table>
    <tr><td>Busy highways have not any space</td></tr>
    <tr><td>Where drivers can stop and replace</td></tr>
    <tr><td>Their tires which blew</td></tr>
    <tr><td>Or change old and new</td></tr>
    <tr><td>If you try, it is death you will face!</td></tr>
  </table>

  <table>
    <tr><td>In biblical times this huge fish</td></tr>
    <tr><td>Had an old prophet for a main dish</td></tr>
    <tr><td>So itchy and tough</td></tr>
    <tr><td>That fish said, "Enough!"</td></tr>
    <tr><td>And threw up a prophet-knish.</td></tr>
  </table>

  <table>
    <tr><td>A man over three score and ten</td></tr>
    <tr><td>Shaved with soap as did many old men.</td></tr>
    <tr><td>"With such time," he quoted,</td></tr>
    <tr><td>"I could have re-coated</td></tr>
    <tr><td>A five-sided building again!"</td></tr>
  </table>

  <table>
    <tr><td>A person escaped being fed</td></tr>
    <tr><td>Unto folks who eat people like bread.</td></tr>
    <tr><td>“Though refusing this treat</td></tr>
    <tr><td>Is a waste of good meat,</td></tr>
    <tr><td>It's so clean and well-shaven a head!”</td></tr>
  </table>

  <table>
    <tr><td>This saxophonist sounded swell</td></tr>
    <tr><td>And deodorant masked any smell.</td></tr>
    <tr><td>Still, that slovenly beard</td></tr>
    <tr><td>Was all scratchy and weird</td></tr>
    <tr><td>So the lady refused, sad to tell.</td></tr>
  </table>

  <table>
    <tr><td>A driver who's willing to go</td></tr>
    <tr><td>Much too fast on a blind bend won't slow</td></tr>
    <tr><td>By this steady increase</td></tr>
    <tr><td>One can outrun police,</td></tr>
    <tr><td>But funeral directors, well, no.</td></tr>
  </table>

  <table>
    <tr><td>Sixty units a minute shows our</td></tr>
    <tr><td>Road signs have great marketing power</td></tr>
    <tr><td>Without really telling</td></tr>
    <tr><td>Retailers are selling</td></tr>
    <tr><td>Three thousand six hundred per hour!</td></tr>
  </table>

  <table>
    <tr><td>Stay careful when streets intersect</td></tr>
    <tr><td>Your driving must remain correct</td></tr>
    <tr><td>Cause rolling those dice</td></tr>
    <tr><td>Might work once or twice</td></tr>
    <tr><td>Til a semi plays cause and effect.</td></tr>
  </table>

  <table>
    <tr><td>When someone drinks coffee or tea</td></tr>
    <tr><td>And becomes somewhat bouncy and free</td></tr>
    <tr><td>The sipper who sips</td></tr>
    <tr><td>Should button his lips</td></tr>
    <tr><td>To refrain from an excess of glee.</td></tr>
  </table>

  <table>
    <tr><td>Hey, Pops! Cut your acceleration.</td></tr>
    <tr><td>It's causing your wife agitation.</td></tr>
    <tr><td>(With no common word</td></tr>
    <tr><td>This limerick occurred</td></tr>
    <tr><td>To provide you the enumeration.)</td></tr>
  </table>

  <button class="btn clipboard-button"></button>

{% endblock %}