{% extends "puzzle.html" %}
{% load static %}
{% block puzzle-body-html %}
<style>
  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 640px) {
    img {
      max-width: calc(min(100%, 63rem));
    }
  }

  .disclaimer {
    font-style: italic;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .clear-btn {
    font-size: 1.25rem;
    line-height: 1.5;
    height: 2rem;
  }
</style>

<script>
  function ClearEverything(){
    for (let key of Object.keys(localStorage)){
      if (key.startsWith("TAB_") || key.startsWith("GAME_")) {
        localStorage.removeItem(key);
      }
    }
    document.getElementById("clear-msg").innerHTML = "Data cleared!";
  }
</script>

<div class="info-note">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" data-tooltip-id="" data-tooltip-content="info-tooltip" class="info-tooltip"><path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
  <span>
    The intended experience for this puzzle does not involve looking at the source code, opening the javascript console, or otherwise hacking your browser. <strong>Reading the source code of this page or the linked page will spoil you.</strong> Your instance of the puzzle is independent from your teammates'.
  </span>
</div>

<img src="{% static 'puzzle_resources/exotic-fen/image.png' %}"/>
<br/>
<p style="text-align: center;"><a href="{% url 'exotic-fen-play' %}" class="btn">Play!</a></p>

<p class="disclaimer">
  The puzzle has been tested on the latest versions of Firefox and Chrome.
  This text, and the following button, aren't part of the puzzle.
  You should never need to press it unless something crazy happens (i.e. your browser crashes).

  <br/>

  <button class="btn clear-btn" onclick="ClearEverything()">Clear data</button>
  <span id="clear-msg"></span>
</p>

{% endblock %}