{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
  Linus Hamilton
{% endblock %}

{% block solution-body-md %}

As clued by the image, the things in this puzzle change when we don't look at them (i.e. we switch its window to a different tab, or we minimize the window). The four levels use this effect in various ways.

The first puzzle shows one of several clues, and asks for a "name". The clues are "start with R", "four letters", "not solid", "travels vertically", "not man-made", "ruins plans", and "frequently predicted". Individually they are not enough to uniquely determine a word; together they clue `RAIN`. On entering this answer, the page indicates there's a level 2, but doesn't let us access it from that screen.

As such, the second puzzle looks inaccessible, because there's only one button. However, we can do the same thing (tab back and forth) to the starting level selection screen to switch the button between four levels. The second puzzle clues the word `BOW` similarly, with four separate definitions ("follows a performance", "can be used to play music", "weapon", "type of knot"). It then asks us to make it ("RAINBOW") appear in levels 3 and 4. We also see a hint image of someone looking through a telescope.

The third level is six colored fruits (apple, tangerine, lemon, avocado, blueberry, and eggplant); these change to other fruits when not observed. The goal of setting the fruits to rainbow order seems absurd, since there's only a 1/6^6 chance we get it on any given observation. The aha comes from the hint image in level 2: we can partially observe a page by moving some elements out of the viewing window.[^1] Successfully doing this provides another image showing multiple observers.

The fourth level is also six colored fruits, but they're spaced so far apart that it's impossible to observe them all at once. And this is impossible... in one window, that is. If we open a second window in our instance and pan it to the same level as the first window, it will show the exact same set of fruits, and the fruits don't change in either window unless we tab out of both; we are observing the same set of fruits (the easiest way to spot this is level 3, which incidentally is also where the hint for this mechanic is). Using this in conjunction with part 3's mechanic, we can use six separate windows to lock each individual fruit. Setting them to rainbow order provides the answer, **`SPHINGES`**.


[^1]: I achieved this by zooming in and out, because my Mac has a window height minimum that just happens to be six squares tall. :V

{% endblock %}
