{% extends "solution.html" %}
{% load static %}

{% block puzzle-author %}
Wesley "Adalbert Zollern" Zhang
{% endblock %}

{% block solution-body-md %}

<style>
  img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 640px) {
    img {
      max-width: calc(min(100%, 63rem));
    }
  }

  .solfege-table img {
    max-width: 15rem;
  }
</style>

The puzzle is presented as a mashup work of (Western) classical music. It is actually a five-puzzle minipuzzle set, with boundaries defined by the boxed letters.

The symbols on the score are colored one of four ways:

- Sections relevant to the puzzle are colored **black**, and are generally the tune to some major classical work (though the mashup tweaks key, tempo, and time signature to match the atmosphere of the mashup at the time, the contour and general rhythm should still be recognizable).
- Accompaniment and other parts irrelevant to the puzzle are notated in **grey**. (They're really just there to make the whole thing sound nice, though they will generally be inspired by the accompaniment of a nearby work.)
- Parts of the medley that contain hints are colored in **blue**.
- There are twelve **red** symbols, whose role will be explained later in this solution.


As an identification aid, and to help determine where one melody transitions to another, the initials for the composer of each melody are provided above the first note.[^1]

[^1]: Initials may be confusing in places; for instance, LB (Luigi Boccherini) should not be confused with LvB (Ludwig van Beethoven), and JS (Jean Sibelius) should not be confused with the several people named Johann Strauss (Johann Strauss II is labeled JS2). Dmitri Shostakovich has been labelled DSch ([his famous musical cryptogram](https://en.wikipedia.org/wiki/DSCH_motif)) to avoid confusion with Domenico Scarlatti.

Each minipuzzle, labeled as sections [A] through [E], takes place in an entirely musical setting, and will resolve to a single melody, also from classical music. Solutions to these are presented in the appendix.

<div class="overflow-container" markdown="1">
| Minipuzzle                | Melody, as encoded                               | Source                                                                                        |
|---------------------------|--------------------------------------------------|-----------------------------------------------------------------------------------------------|
| Unfinished Symphony       | F# F F# D E F# G F# G A# B C#                    | F. Schubert - Symphony No. 8 - Mov. 1 (initial violin section; normally each note is doubled) |
| Song of the Earth         | mi fa mi re do re do ti la ti la la sol mi re do | G. Verdi - _La traviata_, Prelude to Act I                                                    |
| The Rite of Spring        | 3 4 3 3 4 4 5                                    | A. Vivaldi - _La primavera_, III. Allegro[^2]                                                 |
| The Well-Tempered Clavier | m2v m2v m2v M2v m3v M2v M2v P8^                  | F. Mendelssohn - Songs Without Words, Book 5, No. 6 "Frühlingslied"                           |
| Rhapsody in Blue          | Bb-4 Bb-8. Bb-16 Bb-2 Bb-4 Bb-8. Bb-16 Bb-2      | F. Chopin - Piano Sonata No. 2 in Bb minor, III. _Marche funèbre_                             |
</div>

[^2]: In the mashup, the 3 is flat due to being played in a minor key, which actually mirrors a later section of that movement.

It's not necessary to identify the source, but it does make it easier to find.

The material not marked A-E is marked M with a number, each of the five sections consisting of three melodic lines in some arrangement (and accompaniment); all three lines are marked with ??. One is always the same: [the main theme to Edward Elgar's _Enigma Variations_](https://youtu.be/P2OhGH3rFi4?t=6), as clued by the subtitle and dedication. The other two are taken from one of the variations, each one marked with a number 1 to 14. (The most famous variation, Nimrod (IX), is the main melody in the second such section.)

The ending credits card also provides an acknowledgement for an unknown figure in red text, bookended by a treble clef and a half note. These happen to be the first and last red symbols in the sheet, suggesting writing the red symbols out in order.

Assembling them as such and reading them as English letters spells out `GRANT WOOLARD`.

![]({% static 'solution_resources/melody-medley/red-symbols.png' %})

[Grant Woolard](https://www.youtube.com/@grantwoolard)'s YouTube channel hosts four mashups of classical music. Besides being a great source for identifying many (though not all) of the melodies used in this puzzle, it also features each answer melody in the puzzle exactly once[^3] (possibly transposed) in a spatial/temporal context matching that of one of the Enigma themes:

[^3]: While the pieces may be in the mashups more than once, the specific melody used as an answer has a unique occurrence within the mashup.

<div class="overflow-container" markdown="1">
|M|Enigma theme|Upper variation|Lower variation|Context|
|-|-|-|-|-|
|1|[E] [Funeral March](https://youtu.be/7OYkWSW7u4k?t=245) (I, transposed to A minor)|N. Paganini - Caprice No. 24 in A minor|S. Rachmaninoff - Prelude in C# minor|duet of variations followed by enigma solo|
|2|[B] [La traviata](https://youtu.be/fczH85-0BDk?t=23) (II, transposed to D major)|A. Ponchielli - _Dance of the Hours_|L. Delibes - _Sylvia_ - 18. _Divertissement, Pizzicato_|duet of variations; enigma replaces lower|
|3|[D] [Frühlingslied (2nd theme)](https://youtu.be/LBpp47YLL1w?t=36) (III, still in A major)|R. Astley - Never Gonna Give You Up[^4]|A. Rubinstein - Two Melodies (Op. 3)|enigma and lower variation duet; upper replaces enigma|
|4|[A] [Unfinished Symphony (violin part)](https://youtu.be/LBpp47YLL1w?t=207) (III, transposed to f# minor)|D. Shostakovich - Suite for Variety Orchestra No. 1 - Waltz II|P. I. Tchaikovsky - _Swan Lake_ - Act 1, No. 1 _Scène_|duet of variations, with enigma entering on top|
|5|[C] [La primavera III](https://youtu.be/DayjwRDcs44?t=182) (IV, transposed to d minor)|C. Debussy - _Suite bergamasque_ - 3. _Clair de lune_|L. van Beethoven - Piano Sonata No. 14 "Moonlight"|enigma solo in upper voice, followed by lower, then upper enters; a different piece occupies the middle voice throughout|
</div>

[^4]: Yes, you get rickrolled by CMM3. Sorry, couldn't help it.

The two variations in each segment can be mapped onto other melodies based on the context, and then used as indices into the composer of each.[^5]
Note that the variation melodies always play together, and one is played at a higher register than the other; read all the upper variations first, then all the lower variations. No reordering is needed, though the promenades come pre-ordered based on the chronology of the mashups.

[^5]: As the name is written in the mashup, just to avoid confusion around alternate spellings of Rachmaninoff.

<div class="overflow-container" markdown="1">
|Composer - Upper|Variation|Index|Composer - Lower|Variation|Index|
|-|-|-|-|-|-|
|Paganini|[3](https://youtu.be/P2OhGH3rFi4?t=247)|`G`|Rachmaninoff|[11](https://youtu.be/P2OhGH3rFi4?t=1136)|`F`|
|Ponchielli|[9](https://youtu.be/P2OhGH3rFi4?t=747)|`L`|Delibes|[3](https://youtu.be/P2OhGH3rFi4?t=247)|`L`|
|Astley|[1](https://youtu.be/P2OhGH3rFi4?t=96)|`A`|Rubinstein|[2](https://youtu.be/P2OhGH3rFi4?t=220)|`U`|
|Shostakovich|[4](https://youtu.be/P2OhGH3rFi4?t=328)|`S`|Tchaikovsky|[1](https://youtu.be/P2OhGH3rFi4?t=96)|`T`|
|Debussy|[6](https://youtu.be/P2OhGH3rFi4?t=489)|`S`|Beethoven|[8](https://youtu.be/P2OhGH3rFi4?t=635)|`E`|
</div>

The answer is **`GLASS FLUTE`**.

{% endblock %}

{% block author-notes-md %}

There's not a lot of classical (or other art music, to be complete) in the music puzzle scene.
There's probably reasons for that—classical is by far the hardest genre to research, since Musipedia (suggested by the last hunt puzzle to use a classical work, however token) has very low accuracy and I can't seem to find any other search engines for these (not to mention the lack of lyrics).
I tried my best to pick either pieces in the public consciousness or pieces in the mashups, or otherwise cant towards easy discovery methods (there are only so many pieces with place names); this also meant I tended to select for melodies near the beginning of a piece for easy verification.
But hey, being unable to use a search engine certainly didn't stop the community from pooling together an answer key for Grant's mashups.

In the end, I think the range of puzzles here covers the field and the set of famous composers well enough[^6]—here's to more.

![]({% static 'solution_resources/melody-medley/signature.png' %})

You might notice that the answer to this puzzle is an answer in the Sedona round—Hygieia is one of Apollo's grandchildren, after all.

The initials for the composer hints are a nod to the Enigma Variations (which puts the initials of each referenced person as a subtitle).

[^6]: Or at least I tried.

{% endblock %}

{% block appendix-title %}
Appendix: Minipuzzle Solutions
{% endblock %}

{% block appendix-md %}

#### Section A - Unfinished Symphony

Backing track: F. Schubert - Symphony No. 8 "Unfinished", Mov. 1 - [several](https://youtu.be/0mnrHf7p0jM?t=25) [themes](https://youtu.be/0mnrHf7p0jM?t=79)

Schubert's themes (Pianos 2 and 3) are superimposed on a number of other well-known melodies (Piano 1).
Each theme on Piano 1 abruptly cuts out to a rest before its last note is played, as if unfinished.
This tends to be the tonic or dominant of the key the piece happens to be in, which doesn't form a cogent melody.
Referencing that note in the work's original key, as suggested by the hint, reveals the missing notes that compose the answer, which is [a different theme from the Unfinished Symphony](https://youtu.be/0mnrHf7p0jM?t=15).

<div class="overflow-container" markdown="1">
|Melody|Note|
|-|-|
|[A. Dvorak - _Humoresques_, 7. _Poco lento e grazioso_](https://youtu.be/dLMJhS3Z1Yo?t=1249) (actually in Gb Major)|Gb (F#)|
|[G. Bizet - _Carmen_ - _Votre toast, je peux vous le rendre_[^7]](https://youtu.be/Oio3YQr5Kzs?t=101) (actually in F Major)|F (E#)|
|[F. Liszt - Hungarian Rhapsody No. 2 in C# minor](https://youtu.be/E9S2CfDwNAg?t=406) (section in F# Major)|F#|
|[W. A. Mozart - Serenade No. 13 "_Eine kleine Nachtmusik_"](https://youtu.be/YqN-5EujyaM?t=334) (already in G Major)|D|
|[G. Rossini - _William Tell_, Overture](https://youtu.be/D5LVM_lIXqY?t=553) (actually in E Major)|E|
|[N. Paganini - Violin Concerto No. 2 in B minor - III. La Campanella](https://youtu.be/wDr5EqztV4A?t=2) (already in b minor)|F#|
|[D. Shostakovich - Suite for Variety Orchestra No. 1 - Waltz II](https://youtu.be/fQUhWoJ65u4?t=14) (actually in c minor)|G|
|[R. Wagner - _Die Walküre_ - Act 3, Prelude "_Walkürenritt_"](https://youtu.be/Qx55EmiFadg?t=9538) (already in b minor)|F#[^8]|
|[C. Saint-Saëns - _Danse macabre_](https://youtu.be/heAOUgdzWiI?t=73) (actually in g minor)|G|
|[P. I. Tchaikovsky - _Marche slave_](https://youtu.be/XtiivJyL3Ec?t=14) (actually in Bb minor)|Bb (A#)|
|[E. Grieg - _Peer Gynt Suite_, "In the Hall of the Mountain King"](https://youtu.be/_Kv5q2mrfDE?t=129) (already in b minor)|B|
|[L. Boccherini - String Quintet in E major, Op. 11, No. 5 - III. Minuetto](https://youtu.be/MdUrjUfvruE?t=558) (section in A major)|C#|
</div>

[^7]: AKA the Toreador Song. [Les Toréadors (from Carmen Suite No. 1)](https://youtu.be/q6eO3groGwA?t=79) quotes this section in the same key.
[^8]: Annoyingly enough, the modulation to major means this melody technically repeats a major third up a little bit further into the piece; this is also why the Eine Kleine segment isn't the well-known one, since that one repeats in the dominant. If you treat the puzzle mechanic as transposition into a key, though, it does become unique.

![]({% static 'solution_resources/melody-medley/a.png' %})

#### Section B - Song of the Earth

Initial theme: [G. Mahler - _Das Lied von der Erde_, I. "Das Trinklied vom Jammer der Erde"](https://youtu.be/4xbcvp0ATAY?t=104)

After the Mahler and [C. P. E. Bach's _Solfeggio_ in C minor](https://www.youtube.com/watch?v=9rDGc69FQcY), this section features a number of pieces with a European location in the title; at any given point, one is on piano 1 and one is on piano 2, with all accompaniment played on piano 3.

First, divide these into groups based on continuity. If piano 1 is playing the same melody while piano 2 switches pieces, these are in the same group; the same applies the other way around. Only when both pianos switch melodies does a new group start. For simplicity, these groups are all four measures long.

Then, for each group, draw a line between any two pieces playing together on a map.

There are sixteen groups (including repeat symbols) of seven distinct types. These form the following symbols:

<div class="overflow-container" markdown="1">

  <table markdown="1" class="solfege-table">
    <thead>
      <tr>
        <th>Pieces</th>
        <th>Symbol</th>
        <th>Solfège</th>
      </tr>
    </thead>
    <tbody markdown="1">
      <tr markdown="1">
        <td markdown="1">
          <a href="https://youtu.be/XAzn7cfNS-c?t=1" markdown="1">J. S. Bach - **Brandenburg** Concerto No. 3</a><br/>
          <a href="https://youtu.be/Si9rt2UWosI?t=639" markdown="1">J. S. Bach - **French** Suite No. 5 - IV. Gavotte</a><br/>
          <a href="https://youtu.be/xI8IzIKGslA?t=11" markdown="1">F. Mendelssohn - Symphony No. 4 "**Italian**"</a><br/>
          <a href="https://youtu.be/u1TTwdTv5Mg?t=136" markdown="1">J. Strauss II - _**Wiener** Blut_</a> (**Viennese** Blood)<br/>
          <a href="https://youtu.be/XAzn7cfNS-c?t=15" markdown="1">J. S. Bach - **Brandenburg** Concerto No. 3</a>
        </td>
        <td>
          <img src="{% static 'solution_resources/melody-medley/solfege-1.png' %}"/>
        </td>
        <td>
          do
        </td>
      </tr>
      <tr markdown="1">
        <td markdown="1">
          <a href="https://youtu.be/r9JpKXBw5Z4?t=1654" markdown="1">M. Mussorgsky - _Pictures at an Exhibition_ - The Bogatyr Gates (in the Capital in **Kyiv**)</a><br/>
          <a href="https://youtu.be/DMcf8K_RJPU?t=470" markdown="1">D. Shostakovich - Symphony No. 7 "**Leningrad**"</a> (now St. Petersburg)
        </td>
        <td>
          <img src="{% static 'solution_resources/melody-medley/solfege-2.png' %}"/>
        </td>
        <td>
          re
        </td>
      </tr>
      <tr markdown="1">
        <td markdown="1">
          <a href="https://youtu.be/iM8zC-jggyM" markdown="1">I. Albeniz - _Suite española_ - V. **Asturias** (Leyenda)</a><br/>
          <a href="https://youtu.be/BhAwqPBPIEM?t=58" markdown="1">B. Smetana - _Ma vlást_ - II. **Vltava**</a> (a river in the Czech Republic)<br/>
          <a href="https://youtu.be/rDbYC_8xt4U?t=30" markdown="1">W. A. Mozart - Piano Sonata No. 11 - Mov. 3 "Rondo alla **Turca**"</a>
        </td>
        <td>
          <img src="{% static 'solution_resources/melody-medley/solfege-3.png' %}"/>
        </td>
        <td>
          mi
        </td>
      </tr>
      <tr markdown="1">
        <td markdown="1">
          <a href="https://youtu.be/PoHooMaTZcU?t=15" markdown="1">F. Mendelssohn - Symphony No. 3 "**Scottish**"</a><br/>
          <a href="https://youtu.be/q_JfkOSOADE?t=3" markdown="1">J. Brahms - **Hungarian** Dance No. 5</a>
        </td>
        <td>
          <img src="{% static 'solution_resources/melody-medley/solfege-4.png' %}"/>
        </td>
        <td>
          fa
        </td>
      </tr>
      <tr markdown="1">
        <td markdown="1">
          <a href="https://youtu.be/r9JpKXBw5Z4?t=1669" markdown="1">M. Mussorgsky - _Pictures at an Exhibition_ - The Bogatyr Gates (in the Capital in **Kyiv**)</a><br/>
          <a href="https://youtu.be/kg6Q9tkHOw0?t=160" markdown="1">J. Haydn - Symphony No. 104 "**London**"</a>
        </td>
        <td>
          <img src="{% static 'solution_resources/melody-medley/solfege-5.png' %}"/>
        </td>
        <td>
          sol
        </td>
      </tr>
      <tr markdown="1">
        <td markdown="1">
          <a href="https://youtu.be/p2zE-abwhfg?t=2" markdown="1">L. van Beethoven - _The Ruins of **Athens**_, **Turkish** March</a> (both Athens and Turkey work here)<br/>
          <a href="https://youtu.be/Da6O2pk7zpE?t=144" markdown="1">G. Bizet - _**L'Arlésienne**_, Suite No. 2 - Farandole</a><br/>
          <a href="https://youtu.be/8QT7ITv9Ecs?t=57" markdown="1">F. Chopin - Polonaise in Ab major, Op. 53 "Heroic"</a>
        </td>
        <td>
          <img src="{% static 'solution_resources/melody-medley/solfege-6.png' %}"/>
        </td>
        <td>
          la
        </td>
      </tr>
      <tr markdown="1">
        <td markdown="1">
          <a href="https://youtu.be/eu1BX1N9RyU?t=226" markdown="1">J. Sibelius - _**Finlandia**_</a><br/>
          <a href="https://youtu.be/zFVyqtDB2MI?t=356" markdown="1">G. Rossini - Overture to _Il barbiere di **Siviglia**_</a> (The Barber of **Seville**)
        </td>
        <td>
          <img src="{% static 'solution_resources/melody-medley/solfege-7.png' %}"/>
        </td>
        <td>
          ti
        </td>
      </tr>
    </tbody>
  </table>
</div>

Several non-Mahler parts of this piece are colored blue: C. P. E. Bach's Solfeggio in C Minor, hinting towards solfège, and three notes at the end notated as belonging to "F. Sud.".
The notes read G-D-G, or "sol-re-sol", in fixed-do solfège.
These point at the constructed language [Solresol](https://en.wikipedia.org/wiki/Solresol#Symbols) (created by François Sudre), which has a symbol convention for each of the seven notes of the diatonic scale; here, however, they are used for their solfège note value, and not for forming Solresol words.
This obtains "mi fa mi re do re do ti la ti la la so mi re do", a melodic line from [La traviata](https://youtu.be/a1Rmb2BU3Ps?t=150).[^9]

[^9]: Yes, I know, two different conventions. Solresol uses fixed-do (do = C) due to being French, and I'm forced to use movable-do (do = tonic) for the answerline due to needing to be transposition invariant.

![]({% static 'solution_resources/melody-medley/b.png' %})

#### Section C - Rite of Spring

Initial theme: [I. Stravinsky - _Le Sacre du printemps, Danse sacrale_](https://youtu.be/rP42C-4zL3w?t=1809)

The time signatures are noticeably wacky here and out of time with the melodies. To reinforce this, the "hint" theme is the Sacrifical Dance from the Rite of Spring, well-known for frequently changing its time signature.

Reading the time signature numerators as A1Z26 reveals the phrase CROTCHETS PER BAR READ AS JIANPU. This cues a look at the actual time signature of each other piece used:

|Work|Time|
|-|-|
|[M. Ravel - Boléro](https://youtu.be/VlyRuGsuKlE?t=722)|3/4|
|[G. F. Handel - Keyboard Suite No. 7 in G minor - 6. _Passacaglia_](https://youtu.be/KMxTlk6XK1w?t=209)|4/4|
|[A. Vivaldi - _L'estate_ ("Summer"), III. _Presto agitato_](https://youtu.be/sL_K5Z1DeCc?t=31)|3/4|
|[F. Schubert - String Quartet No. 14 "Death and the Maiden", IV. Presto](https://youtu.be/9i5D4ZW8O9o?t=1822)|6/8|
|[S. Prokofiev - _Romeo and Juliet_ - Dance of the Knights](https://youtu.be/syOIHDiNvvk?t=37)[^10]|4/4|
|[G. Verdi - _Requiem_ - _Dies irae_](https://www.youtube.com/watch?v=jGvYaMIXuxU)|4/4|
|[G. Holst - _The Planets_ - Mars, Bringer of War](https://youtu.be/KbMqVfdG2sE?t=270)|5/4|

[^10]: Also known as a segment of Montagues and Capulets (from Suite No. 2 from _Romeo and Juliet_).

Taking the actual time signatures of the pieces and counting the number of quarter notes ("crotchets") in each bar (equivalent to converting the fraction to a denominator of 4) yields 3 4 3 3 4 4 5.
This is jianpu (numbered musical notation, also known as "simplified notation") for [the main theme of the third movement of Vivaldi's _La primavera_ ("Spring")](https://youtu.be/Z4ME2cdXHVE?t=360).

![]({% static 'solution_resources/melody-medley/c.png' %})

#### Section D - Well-Tempered Clavier

Backing track: J. S. Bach - _Das wolhtemperierte Klavier_; BWV 846-893

This section is all about intervals. (The choice of backing track is a play on [temperament](https://en.wikipedia.org/wiki/Musical_temperament), or a tuning system based around intervals.)

In any given section, the piece notated in blue is the beginning of a prelude from _The Well-Tempered Clavier_, by J. S. Bach. The other piece is another famous work, either for solo piano or a piano concerto.

While the two pieces are once again transposed to the home key of the full work, the keys of the original works are in most cases different; take the interval between the two, viewed from the perspective of the Bach piece (modulo octaves). Depending on whether the Bach work is played above or below the other work, this will be an interval up or down.
(The hint for this is near the beginning of the section: an arrow pointing between the key signatures[^11] and an accent symbol resembling a Greek letter delta).

[^11]: Actually a "staff spacer", which is forced to be gray by Musescore and was intentionally selected at the time of recording to make it blue in the video.

Order these intervals by the book and prelude number. The intervals produce a later theme from Felix Mendelssohn's "Frühlingslied" (Spring Song).

|_Well-Tempered Clavier_|Other work|Interval|E'|
|-|-|-|-|
|[Book I, Prelude No. 5](https://youtu.be/nPHIZw7HZq4?t=1072) (D major)|[P. I. Tchaikovsky - Piano Concerto No. 1 in Bb minor - I. Allegro non troppo e molto maestoso](https://youtu.be/8pqvCIFJS2E?t=14) (section in Db major)|m2, down|D#|
|[Book I, Prelude No. 9](https://youtu.be/nPHIZw7HZq4?t=2295) (E major)|[F. Chopin - Nocturne in Eb major, Op. 9 No. 2](https://www.youtube.com/watch?v=YGRO05WcNDk)|m2, down|D|
|[Book I, Prelude No. 11](https://youtu.be/nPHIZw7HZq4?t=2690) (F major)|[C. Debussy - _Deux arabesques_ - Arabesque No. 1](https://youtu.be/Yh36PaE-Pf0?t=1) (E major)|m2, down|C#|
|[Book I, Prelude No. 19](https://youtu.be/nPHIZw7HZq4?t=4669) (A major)|[M. Ravel - _Pavane pour une infante défunte_](https://youtu.be/7ASYm3K_PwM?t=6) (G major)|M2, down|B|
|[Book I, Prelude No. 23](https://youtu.be/nPHIZw7HZq4?t=5745) (B major)|[L. van Beethoven - Piano Sonata No. 8 in C minor - II. _Adagio cantabile_](https://youtu.be/1FP7NosLxkw) (section in Ab major)|m3, down|G#|
|[Book II, Prelude No. 7](https://youtu.be/hms_PF_CKV4?t=1939) (Eb major)|[S. Rachmaninoff - _Rhapsody on a Theme of Paganini_ - XVIII. _Andante cantabile_](https://youtu.be/HvKTPDg0IW0?t=934) (Db major)|M2, down|F#|
|[Book II, Prelude No. 15](https://youtu.be/hms_PF_CKV4?t=5217) (G major)|[R. Schumann - _Kinderszenen_ - 7. _Träumerei_](https://youtu.be/_RmuTuVWXy4) (F major)|M2, down|E|
|[Book II, Prelude No. 17](https://youtu.be/hms_PF_CKV4?t=5794) (Ab major)[^12]|[F. Liszt - Liebestraum No. 3](https://youtu.be/Y4XEPdYO5mM) (Ab major)|P8, up|E'|

[^12]: Abruptly shifts into the lower voice to clue the change in direction. Could be argued to be unison, but directionality is undefined for unison—it would be clued by two melodies competing for one staff, and probably a lot of voice crossings.

![]({% static 'solution_resources/melody-medley/d.png' %})

#### Section E - Rhapsody in Blue

Backing track: [G. Gershwin - Rhapsody in Blue](https://youtu.be/N2_yRwPPIEc?t=984)

This short coda does not require actual classical music knowledge, as the only piece used is the "stride" theme from the coda of Rhapsody in Blue.
The only differences are omissions in some of the chords.

The only blue notes here are in the chords on Piano 3; they spell out "OTHER TYPE" in Braille.
The chords during the stride itself always play the upper and lower notes (forming an octave), while the middle notes vary, some present, some absent:

```text
. .'.:  .':' '  .'':  .'''  .'.:  .':' '  .'':  .'''
b B-4 ||B-8  .||B-16||B-2 ||B-4 ||B-8  .||B-16||B-2
```

As hinted by the Braille chords and the usage of Rhapsody in Blue (often described as a musical portrait of New York), this is [New York Point](https://en.wikipedia.org/wiki/New_York_Point#Musical_notation), a Braille-like dot alphabet with a method for encoding musical notation.
Translating this segment out of New York Point gives eight B flat notes played in the rhythm quarter-dotted eighth-sixteenth-half. This is [Chopin's _Marche funebre_](https://youtu.be/VUk3_qTTVg4?t=672), the famous third movement from his Piano Sonata No. 2.

(The other two parts in this section are Movement 3 of Rachmaninoff's Piano Concerto No. 2 and Movement 6 of Albeniz's Recuerdos de viaje, to match the ending to Classical Music Mashup IV.)

![]({% static 'solution_resources/melody-medley/e.png' %})

{% endblock %}
